<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-Blog</title>
</head>
<body>
    <header>
        <h1>
            Tech Blog
        </h1>
        {{#if logged_in}}
        <nav>
            <ul>
                <li>
                    Home
                </li>
                <li id="dashboard">
                    Dashboard
                </li>
                <li id="logout">
                    Log out
                </li>
            </ul>
        </nav>
        {{else}}
        <nav>
            <ul>
                <li id="dashboard">
                    Dashboard
                </li>
                <li id = 'home'>
                    Home
                </li>
                <li id="login">
                    Log in
                </li>
                <li id = 'signup'>
                    Create account
                </li>
            </ul>
        </nav>
        {{/if}}
    </header>
    <main>
        {{{body}}}
    </main>


    {{#if logged_in}}
    <script src = '/js/logout.js'></script>

    {{else}}
    <script src = '/js/navigation.js'></script>
    {{/if}}
</body>
</html>