{{!-- html for creating a new post --}}

{{!-- //logged_in variable returns true/false if logged in or not
//user_id is the id of the logged in user
//users is the User object
//posts is the Post object --}}
<h3 class="newPost-header">Create New Post</h3>

<section class="newPost-body">

    {{#if logged_in}}
    <form id='newPost-form' class="form">
        <div class="form-group">
            <label for="newPost-title">Title:</label>
            <input class="form-input form-control" type="text" id="newPost-title">
        </div>
        <br>
        <div class="form-group">
            <label for="newPost-body">Content:</label>
            <textarea class="form-input form-control" type="text" id="newPost-body"></textarea>
        </div>
        <br>
        <div class="form-group newPostButton-container">
            <a id="newPost-submit" class="button btn">Post</a>
        </div>
        {{else}}
        <p class="loginText">You must be logged in to create a new post</p>
        <div class="newPostButton-container">
            <a class='button btn' href="/login">Log in</a>
        </div>
        <br>
    </form>
</section>

{{/if}}

<script src="/js/createPost.js"></script>