{{!-- html for creating a new post --}}

{{!-- //logged_in variable returns true/false if logged in or not
//user_id is the id of the logged in user
//users is the User object
//posts is the Post object --}}
<h3>Create New Post</h3>

{{#if logged_in}}
<form id='newPost-form' class="form">
    <div class="form-group">
        <label for="newPost-title">Title:</label>
        <input class="form-input" type="text" id="newPost-title">
    </div>
    <div class="form-group">
        <label for="newPost-body">Content:</label>
        <input class="form-input" type="text" id="newPost-body">
    </div>

    <div class="form-group">
        <a id= "newPost-submit" class="btn btn-info">Post</a>
    </div>
{{else}}
<p>You must be logged in to create a new post</p>
<a class = 'btn' href="/login">Log in</a>
</form>
{{/if}}

<script src="/js/createPost.js"></script>