{{!-- shows any blog posts already created ( by this specific account)
and the option to add a new post --}}

<h2>Your Posts</h2>

<section class="container">
    <h3>Your Posts</h3>
    {{#if logged_in}}
    <section class="flex-row justify center">
        {{#each posts}}
            {{#if (eq user_id ../user_id)}}
            <h3>{{title}}</h3>
            <p>{{body}}</p>
            {{else}}
            {{/if}}
        {{/each}}
    </section>
</section>

<button href="/createPost" class="btn btn-warning">+ New post</button>
{{else}}
<p>You must be logged in to view your posts</p>
<a class = 'btn' href="/login">Log in</a>
{{/if}}