<h2 class="login-header">Log into Tech Blog</h2>

<p id="passwordEmailCombinationWarning" class="loginWarning hidden">Provided password/email combination is not valid</p>
<form id="login-form" class="form login-form">
    <div class="form-group">
        <label class= "formLabel" for="email-login">Email:</label>
        <input class="form-input form-control" type="text" id="email-login">
    </div>
    <br>
    <div class="form-group">
        <label class="formLabel" for="password-login">Password:</label>
        <input class="form-input form-control" type="password" id="password-login">
    <br>
    </div>
    <div class= "loginButton-container">
        <div class="form-group">
            <button class="btn button" type="submit"> Log me in!</button>
        </div>
        <div>
            <button id="signupButton" class="button btn">Sign up instead</button>
        </div>
    </div>
</form>



<script src="/js/login.js"></script>