*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;

    font-family: 'Agbalumo', sans-serif;}


body {
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url(../images/space.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

ul{
    list-style: none;
    display: flex;
}

li {
    padding: 10px;
    padding-left: 40px;
    font-size: x-large;
}

.align-items {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #8c37b4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px
}

.hidden {
    display: none;
}

.loginWarning, .signupWarning, .commentWarning {
    color: red;
    /* justify-content: center; */
    font-size: large;
}

.nav-logo {
    color: white;
    padding: 15px;
}

.main-header {
    background-color: black;
    display: flex;
    justify-content: center;
    /* padding: 100px; */
    /* justify-content: space-around; */
    color: white;
    align-items: center;
}

/* .dashboard-header {
    background-color: #8c37b4;
    color: white;
    display: flex;
    justify-content: center;
} */

.login-header, .dashboard-header, 
.signup-header, .homepage-header, 
.newPost-header, .post-header,
.editPost-header {
    background-color: #8c37b4;
    color: white;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px
}

.post-subheader {
    background-color: #bf8ad8;
    padding: 10px;
    text-align: center;
    /* color: black; */
    text-shadow: 2px 2px #8c37b4;
}

.postComment {
    text-align: right;
    color: gainsboro
}

main {
    background-color: white;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;

}

.dashboard-body, .homepage-body, .newPost-body, .viewPost-body {
    padding: 30px
}

a {
    color: inherit;
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
  }

.loginButton-container, .signupButton-container, 
.homepageButton-container, .newPostButton-container, 
.dashboardButon-container, .viewPostButton-contatiner, 
.editPostButton-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.login-form, .signup-form, .editPost-form {
    padding: 20px;
}

.formLabel {
    font-size: larger;
}

.button {
    background-color: #FD5E8B;
    color: white;
    font-size: large;
}

.viewPost-button {
    background-color: #0e5dad;
    color: white;
    font-size: large;
}

.post-container, .comment-container {
    /* background-color: #FD5E8B; */
    /* padding-bottom: 10px; */
    margin-bottom: 15px;
    margin-top: 10px;
    /* border-style: solid; */
    border-bottom: 3px solid #FD5E8B;
}

.loginText {
    text-align: center;
    font-size: large;
    padding-top: 10px;
}

.titleAndInfo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postInfo {
    color: gainsboro;
}

.post-body {
    font-size: large;
}